.form-control:focus,
.form-control:active,
.btn:focus,
.swal2-styled:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}

.has-clear {
    input {
        padding-right: 0;
        border-right-color: transparent;

        &:focus {
            border-right-color: transparent;

            +.input-group-append .btn-clear {
                border-color: #80bdff;
                border-left-color: transparent;
            }
        }

        &:not(:placeholder-shown):focus+.input-group-append .btn-clear {
            color: #dc3545;
        }

        &:placeholder-shown+.input-group-append .btn-clear {
            color: #fff;
            pointer-events: none;
        }
    }

    .input-group-append .btn-clear {
        color: #6c757d;
        border-color: #ced4da;
        border-left-color: transparent;
        border-top-right-radius: 0.3rem !important;
        border-bottom-right-radius: 0.3rem !important;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #c82333 !important;
        }

        &:active {
            color: #bd2130 !important;
        }
    }
}
