.plus-minus-rotate {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.125);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: transform .25s ease-out;
        -moz-transition: transform .25s ease-out;
        -o-transition: transform .25s ease-out;
        transition: transform .25s ease-out;
    }

    &::before {
        width: 1px;
    }

    &::after {
        height: 1px;
    }

    [aria-expanded="true"],
    [aria-expanded="true"] &,
    *:not([aria-expanded])>&:not([data-target]):hover {
        &::before {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        &::after {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
